body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #fff1e6;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.button {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-time {
  background: #cb997e;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  font-weight: bold;
}

.button-save {
  background-color: #a5a58d;
  color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.event {
  border-radius: 10px;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 40px;
  white-space: normal;
}

.event-past {
  background-color: #f0efeb;
  color: black;
}

.event-present {
  background-color: #f2cc8f;
  color: black;
}

.event-future {
  background-color: #81b29a;
  color: black;
}

/* delete all description class references in HTML
.description {
  white-space: pre-wrap;
} */

.time-block {
  text-align: center;
  border-radius: 15px;
  background-color: #ffffff;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.rectangle {
  /* height: 75px;
  width: 1030px; */
  border-style: solid;
  border-radius: 15px;
  /* float: right; */
  background-color: #77dd77;
}

.square {
  /* height: 75px;
  width: 75px; */
  border-style: solid;
  border-color: gray;
  float: left;
}

.green {
  background: green;
}

.red {
  background: red;
}
